@page
@model IndexModel
@{
    ViewData["Title"] = "Bestellübersicht";
}

<h1>Bestellübersicht</h1>
<form method="post" asp-page-handler="Search">
    <div class="form-group">
        <label asp-for="@Model.FilterLastName" class="control-label">Nachname</label>
        <input asp-for="@Model.FilterLastName"/> <!-- class="form-control" /> -->
        <button type="submit" class="btn btn-primary">Suchen</button>
    </div>
</form>
<p>
    <a class="btn btn-primary" asp-page="./Orders/Create">Neue Bestellung anlegen</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Bestellnummer
            </th>
            <th>
                Kunde
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in @Model.Orders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => order.OrderNr);
                </td>
                <td>
                    @Html.DisplayFor(model => order.CustomerName);
                </td>
                <td>
                    <a asp-page="./Orders/Edit" asp-route-orderId="@order.OrderId">Bearbeiten</a>
                </td>             
            </tr>
        }
        </tbody>
</table>
