@page
@model DeleteModel
@{
    ViewData["Title"] = "Bestellung löschen";
}

<h1>Bestellung löschen</h1>

<h3>Diese Bestellung wirklich löschen?</h3>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Bestellnummer
        </dt>
        <dd class="col-sm-10">
            @Model.Order.OrderNr
        </dd>
        <dt class="col-sm-2">
            Datum
        </dt>
        <dd class="col-sm-10">
            @Model.Order.Date.ToShortDateString()
        </dd>
        <dt class="col-sm-2">
            Kunde
        </dt>
        <dd class="col-sm-10">
            @Model.Order.CustomerName
        </dd>
    </dl>

    <form method="post">
        <input type="submit" asp-page-handler="delete" asp-route-orderId="@Model.Order.OrderId" value="Löschen" class="btn btn-danger"/> | 
        <a asp-page="./Edit" asp-route-OrderId="@Model.Order.OrderId">Zurück</a>
    </form>
</div>
